.card-title{
  color:rgb(44, 107, 60)
}
.h5{
  color:black;
}
.btn {
  background-color: rgb(143, 199, 141);
  color: #ffffff;
}

#save-btn{
  background-color: rgb(121, 174, 204);
}
.main-section{
  align-items: center;
  text-align: center;
  justify-content: center;
}
.list-group{
  align-items: center;
  text-align: center;
  justify-content: center;

}


/* ---- grid ---- */

.grid {
background: #DDD;
}

/* clear fix */
.grid:after {
content: '';
display: block;
clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
width: 33.333%;
}

.grid-item {
float: left;
}

.grid-item img {
display: block;
width: 100%;
}

header h1 {
font-size: 200%;
color:rgb(82, 81, 81);
text-shadow: 1px 1px 5px rgb(255, 255, 255);
font-weight:lighter;
}
header {
background-color: #ffffff;
}
html {
background-color: rgb(207, 202, 197);
font-family: 'M PLUS 1 Code', sans-serif;
height: 100%;
}

#search-btn {
width: 100%;
margin: 1%;
height: 70px;
color: black;
border-color: black;
}
#search-btn:hover {
color: white;
background-color: rgb(146, 202, 116);
}

#save-btn{
width: 100%;
margin: 1%;
background-color: white;
}

#save-btn:hover {
color: rgb(255, 255, 255);
background-color: rgb(17, 104, 104);
}

.trait{
font-size: 120%;
}

#adj-container {
margin: 1%;
width: 98%;
}

#noun-container{
margin: 1%;
width: 98%;
}

#story-container{
margin: 1%;
width: 98%;
}

#story-theme {
position: relative;
top: 50%;
font-size: 150%;
}

h3 {
  margin: 2%;
}

.left-box {
  margin-left: 4%;
  margin-top: 10%;
}

.gen-button {
  width: 100%;
}

.tops{
  background-color: rgb(251, 251, 251);
  margin-bottom: 2%;
}