.card-title{
    color:rgb(44, 107, 60)
}
.h5{
    color:black;
}
.btn {
    background-color: rgb(143, 199, 141);
    color: #ffffff;
}

#save-btn{
    background-color: rgb(121, 174, 204);
}
.main-section{
    align-items: center;
    text-align: center;
    justify-content: center;
}
.list-group{
    align-items: center;
    text-align: center;
    justify-content: center;

}


/* ---- grid ---- */

.grid {
  background: #DDD;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.333%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  width: 100%;
}



