@import url('https://use.fontawesome.com/releases/v5.0.9/css/all.css');

html {
    min-height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

#unblock-btn {
    position: fixed;
    background-color: #c4c2c2a5;
    bottom: 10%;
    right: 10%;
    font-size: 30px;
    text-align: center;
    cursor: pointer;

}

#unblock-btn:hover {
    background-color: #ffffff1f;
    color: white;
    /* font-family: "FontAwesome";
    content: "\f6e3"; */
    transition: all 0.5s;
}

h1 {
    font-size: 60px;
}
