@import url('https://use.fontawesome.com/releases/v5.0.9/css/all.css');

html {
    min-height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

#unblock-btn {
    position: fixed;
    background-color: #c4c2c2a5;
    color: black;
    bottom: 10%;
    right: 10%;
    font-size: 30px;
    text-align: center;
    cursor: pointer;

}

#unblock-btn:hover {
    background-color: #ffffff1f;
    color: white;
    transition: all 0.5s;

    border-color: white;

}

h1 {
    font-size: 60px;

    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.mid-screen{
    position: fixed;
    top: 50%;
    left: 40%;
    right: 40%;
}

.huge{
    position: relative;
    height: 100%;
}

.mid-screen h2 {
    font-weight: bold;
    color: white;
    opacity: 100%;
    font-size: 140%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}
