html {
    min-height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

#unblock-btn {
    position: fixed;
    bottom: 10%;
    right: 10%;
    font-size: 30px;
    border-color: white;
}

h1 {
    font-size: 60px;
}

.mid-screen{
    position: fixed;
    top: 50%;
    left: 40%;
    right: 40%;
}

.huge{
    position: relative;
    height: 100%;
}

section {
    background-color: rgb(23, 27, 27);
    border-radius: 25px;
}
.mid-screen h2 {
    font-weight: bold;
    color: white;
    padding-bottom: 2px;
    padding-top: 3px;
    opacity: 100%;
    font-size: 140%;
}
